<!DOCTYPE HTML>
<html>
  <head>
    <title>Welcome to LeanEngine!</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>
  <body onload="showTime()">
    <div id="container">
      <h1>LeanEngine</h1>
      <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
        <a href="{{ url_for('login') }}">LOGIN</a>
        <a href="{{ url_for('signup') }}">SIGNUP</a>
    </div>
  <div id="timenow"></div>
  </body>
<script language="JavaScript">
    function showTime(){
        var thetime = new Date();
        document.getElementById( "timenow").innerText = thetime.toLocaleString();
        window.setTimeout( "showTime()",1000);
    }
</script>
</html>
